//! **************************************************************************
// Written by: Map O.87xd on Thu May 10 14:53:31 2012
//! **************************************************************************

SCHEMATIC START;
COMP "ld<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "PIO<79>" LOCATE = SITE "B7" LEVEL 1;
COMP "ld<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "ld<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "PIO<76>" LOCATE = SITE "C6" LEVEL 1;
COMP "ld<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "danger" LOCATE = SITE "B2" LEVEL 1;
COMP "PIO<77>" LOCATE = SITE "B6" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "PIO<78>" LOCATE = SITE "C5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

